---
title: 'Tags'
date: 2017-10-22 16:24:00-03:00
show_in_navbar: false
permalink: /tags/
---

<div class="tags">
{% for tag in site.tags %}
    {% capture slug %}{{ tag | first }}{% endcapture %}
    <a id="{{ slug }}" class="anchor"></a>
    <h3>{{ site.data.tags[slug] }}</h2>
    <ul>
    {% assign posts = site.tags[slug] | sort: 'date' %}
    {% for post in posts %}
        <li>
            <a href="{{ post.url | relative_url }}" target="_blank">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</div>
