<header>
    <nav class="navbar">
        <div class="container-fluid">
            {% assign default_paths = site.pages | map: "path" %}
            {% assign page_paths = site.header_pages | default: default_paths %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                {% if page.layout == 'home' %}
                <h1 class="navbar-brand">
                    <a href="{{ "/" | relative_url }}">
                        {{ site.title | escape }}
                    </a>
                </h1>
                {% else %}
                <a href="{{ "/" | relative_url }}" class="navbar-brand title">
                    {{ site.title | escape }}
                </a>
                {% endif %}
            </div>

            {% if page_paths %}
            <div id="navbar-menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
</header>
