@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "variables";

@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";

html, body {
    min-height: 100%;
    height: 100%;
}

.page-content {
    padding: 60px 0 90px;
    min-height: 100%;
    margin-bottom: -103px;
}

.title {
    a {
        &,&:link,&:visited,&:hover {
            color: $text-color;
        }
    }
}

header {
    color: $text-color;
    .navbar {
        margin-bottom: 0;
        a {
            &,&:link,&:visited,&:hover {
                text-decoration: none;
            }
        }
        .navbar-header {
            line-height: 1em;
        }
        .navbar-brand {
            margin: 0 auto;
            height: 7%;
        }
        .navbar-toggle {
            margin: 5px 5px 5px auto;
            padding-right: 0;
            font-size: 2rem;
            border: none;
            &:hover, &:focus {
                background-color: inherit;
            }
        }
        .title {
            font-size: 2rem;
        }
    }
}

main {
    .paginator {
        text-align: center;
        .pagination {
            margin: 0 0 9px;
        }
    }
}

article {
    word-break: break-word;
    overflow-wrap: break-word;
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .excerpt {
        padding: 5px 0;
        text-align: right;
    }
}

.footer {
    background-color: $navbar-default-bg;
    height: 83px;

    margin-top: 20px;
    padding: 30px 0;
    border-top: 1px solid $navbar-default-border;
    p {
        margin: 0;
    }
}

.post {
    article {
        footer {
            margin: 30px auto;
        }
    }
}

@media (max-width: $screen-xs-max) {
    header .navbar {
        .navbar-brand.title {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
