---
layout: default
---

<div class="container-fluid">
    {{ content }}

    {% for post in paginator.posts %}
        {% if forloop.first == false %}
            <hr>
        {% endif %}
    <article>
        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
        <header>
            <h2 class="title">
                <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
                </a>
            </h2>
        </header>
        {{ post.excerpt }}
        <p class="excerpt"><a href="{{ post.url | relative_url }}">Leia mais</a></p>
        <footer>
            <p class="">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span>{% include date-for-humans.html date=post.date %}</span>
            </p>
        </footer>
    </article>
    {% endfor %}

    <p>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

    <div>
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">&#8810;</a>
        {% else %}
            <span>&#8810;</span>
        {% endif %}
        <span>{{ paginator.page }} de {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">&#8811;</a>
        {% else %}
            <span>&#8811;</span>
        {% endif %}
    </div>
</div>
