---
layout: default
---

<div>
    {{ content }}

    {% for post in paginator.posts %}
    <article>
        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
        <h2>
            <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            </a>
        </h2>
        <p><span>{{ post.date | date: date_format }}</span></p>
        <p>{{ post.excerpt }}</p>
        <p><a href="{{ post.url | relative_url }}">Leia mais</a></p>
    </article>
    {% endfor %}

    <p>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

    <div>
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">&#8810;</a>
        {% else %}
            <span>&#8810;</span>
        {% endif %}
        <span>{{ paginator.page }} de {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">&#8811;</a>
        {% else %}
            <span>&#8811;</span>
        {% endif %}
    </div>
</div>
