---
layout: default
---

<div>
    {{ content }}

    {% for post in site.posts %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <article>
        <h2>
            <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            </a>
        </h2>
        <p><span>{{ post.date | date: date_format }}</span></p>
        <p>{{ post.excerpt }}</p>
        <p><a href="{{ post.url | relative_url }}">Leia mais</a></p>
    </article>
    {% endfor %}

    <p>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
