---
layout: default
---
<div class="container-fluid">
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <header>
            <h1 itemprop="name headline">{{ page.title | escape }}</h1>
            <p>
                {% if page.author %}
                    • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
                {% endif %}
            </p>
        </header>

        <div itemprop="articleBody">
            {{ content }}
        </div>

        <footer>
            <p>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <time datetime="page.date | date_to_xmlschema" itemprop="datePublished">
                    {% include date-for-humans.html date=page.date %}
                </time>
            </p>
            {% if site.disqus.shortname %}
                {% include disqus-comments.html %}
            {% endif %}
        </footer>
    </article>
</div>
