---
layout: default
---
<div class="post container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <article itemscope itemtype="http://schema.org/BlogPosting">
                <header>
                    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
                    <p>
                        {% if page.author %}
                            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
                        {% endif %}
                    </p>
                </header>

                <div itemprop="articleBody">
                    {{ content }}
                </div>

                <footer>
                    {% include articles/footer-info.html post=page %}
                    {% if site.disqus.shortname %}
                        {% include disqus-comments.html %}
                    {% endif %}
                </footer>
            </article>
        </div>
    </div>
</div>
